.mainScreen {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.mainScreen > div {
    width: 33%;
}

.buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;

}

.commit-button, .reveal-button {
    margin: 1rem;
}
