.mainScreen {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.smartContractCard, .gameCard {
    width: 33%;
}

.commit-list, .reveal-list {
    width: 16%;
}

.buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;

}

.commit-button, .reveal-button, .winner-button, .remove-bid-button {
    margin: 1rem;
}

.gameCard__secret-input, .gameCard__number-input {
    margin: 0.5rem 0;
}